.tbl {
	border:1px solid #000;
	min-height: 500px;
	width: 100%;
}
.tbl_row {
}
.tbl_col {
	border-top-width: 1px;
	border-top-style: solid;
}
/* colors */
.tbl_col {
	border-color: #000;
}
.tbl_col.empty {
	display: none;
}
@media screen and (min-width: 768px) {
    /*the basic setup to make out divs work like a table*/
	.tbl {
		border:0 none;
		display: table;
		min-height: 500px;
		width: 100%;
	}
	.tbl_row {
		display: table-row;
	}
	.tbl_col {
		border-left-width: 1px;
		border-left-style: solid;
		border-top-width: 1px;
		border-top-style: solid;
		display: table-cell;
	}
	.tbl_col:last-child:not(.empty) {
		border-right: 1px solid #000;
	}
	.tbl_row:last-child > .tbl_col:not(.empty) {
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	.tbl_row:last-child > .tbl_col.empty {
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-right-style: solid;
		border-right-width: 1px;
	}
	/* colors */
	.tbl_col {
		border-color: #000;
	}
	.tbl_col.empty {
		display: table-cell;
		border-color: #ccc;
	}
}
